pillow~=11.0.0
tifffile>=2023.0.0
pydicom>=2.3.0
numpy==1.23.5
nibabel>=5.2.0
czifile>=2019.7.2; platform_system == "Windows"
pylibCZIrw>=3.3.0; platform_system == "Windows"
pywin32; platform_system == "Windows"

